## data tables
matchdata/*
createddata/*
matchsummaries/*

# R stuff
.Rproj.user
*.Rproj
.RData
.Rhistory

# python stuff
__pycache__/*

# informal data toying
exploring.ipynb
exploringcovariates.ipynb